<div class="container">
  <div class="icon-container">
    <span class="left" >
      <button>
        <div class="icon">
          <img class="icon-Img" src="../../assets/images/remainder.svg" alt="" />
        </div>
      </button>
      <button>
        <div class="icon">
          <img class="icon-Img" src="../../assets/images/collaborator.svg" alt="" />
        </div>
      </button>
      <button >
        <div class="icon">
          <img class="icon-Img" src="../../assets/images/colorpallate.svg" alt="" />
        </div>
      </button>
      <button>
        <div class="icon">
          <img class="icon-Img" src="../../assets/images/notewithiamge.svg" alt="" />
        </div>
      </button>

      <button>
        <div class="icon">
          <img class="icon-Img" src="../../assets/images/archive.svg" alt="" />
        </div>
      </button>
      
        <button>
          <div>
          <img class="more-icon-Img" src="../../assets/images/deleteForever.svg" alt="" />
        </div>
         </button>

    