.dashboard_header {
  background-color: #e0e0e0;
  color: #000000;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-icon {
  color: #000000;
}

.keep-icon img {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.search-bar {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  flex: auto;
  width: 2px;

}

.refresh-icon,
.list-view-icon,
.settings-icon {
  color: #000000;
}

dashboard_header {
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 240px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.dashboard_header {
  display: flex;
  flex-direction: column;
  position: relative;

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;

    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-sidenav-container {

    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {

    flex: 1 0 auto;
  }

}

.mat-sidenav-container mat-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-icon img {
  position: relative;
  z-index: 1;
}

.example-icon span {
  position: absolute;
  top: 0;
  bottom: 40;
  left: 0;
  z-index: 2;
}

.card {

  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(228, 222, 222, 0.2);
  width: 45%;
  height :auto;
  padding:0%;
}

mat-card {
  background-color: white;
  display : flex;
   flex-direction: column;
   margin-top: 30px;
   border-radius: 5px;
}

.mat-card-content {
  color: black;
  display : flex;
   flex-direction: row;
   align-items: center;


}
// .content{
//   border :1px solid red;
// }
.img {
  width: 16px;
  height: 16px;
  flex: auto;
   
}

.cardimg {
  display: flex;
  flex-direction: row;
}



.note {
  margin-right: auto; 
  color: #202124;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
}
.flex-container
{
  display: flex;
  align-items: space-between;
}
