body{
    // background-color: #f0f0f0;
      background-color: #ffff ;
  }
  
  .container{
     display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  
  
     }
  .form
  {
      display: flex;
      background-color: #ffff ;
      border: 1px solid #DBDDE0;
  width:inherit;
  height: auto;
  
  justify-content: center;
  border-radius: 2%;
  
  
  }
  
  
  .inner-container{
      display:flex;
      flex-direction: column;
     margin-left: 2%;
      margin-bottom: 5%;
      padding:0% 5% 0% 5%;
      
  }
  
  .form-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  
  }
  
  .text-field-a{
  padding-bottom: 4%;
  
  }
  .text-field-b{
  
      padding-bottom: 2%;
  }
  
  .logo-container{
      width: 70%;
      height: 50%;
      text-align: center;
  }
  .logo{
      text-align: center;
      width : 40%;
      height: auto;
  }
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
 }
 img {
    height: 70%;
    width: 70%;
 }
  .text-area2{
      width :100%;
      display :flex;
      justify-content: center;
      align-items: center;
      align-content: center;
   }

  .example-button-row{
      display: flex;
      flex-direction: row ;
      justify-content:space-between;
      padding-top: 3%;
      
  }
  .example-margin-l{
      margin-top: 0%;
      margin-bottom: 2%;
  }
  h3{
      font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
      font-size: 24px;
      font-weight: 400;
      font-style: normal;
      color: #202124;
      line-height: 1.29em;
      letter-spacing: 0em;
  
  }
  h4{
      font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: #202124;
      line-height: 1.5em;
      letter-spacing: 0em;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
 }
 @media (max-width: 768px) {
    .container {
      max-width: 400px;
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .container {
      max-width: 500px;
    }
  }
   
  
  
