

.card-container {
    display: flex;
    flex-wrap: wrap;
    height:auto;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 8px;
    font-weight: bold;
  }
  
  .card-body {
    padding: 8px;
    height:auto;
  }
  